.scroll img{
    margin-left: 5vh;
}

.container{
    animation-name: slide;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

.emlem:hover img{
    opacity: 1;
    transition: 0.5s;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}


